
<!-- 내용까지 한번에 보이기 -->
<h1>
    게시판
</h1>
<br>
<form action="{% url 'board:create' %}" method="post">
    {% csrf_token %}
    <div>
      <!-- <label for="title">제목</label><br> -->
      <input type="text" name="title" id="title" placeholder="글제목"><input type="submit" value="글쓰기">
    </div>
    <div>
        <!-- <label for="content">내용</label><br> -->
      <textarea name="body" id="body" cols="30" rows="10" placeholder="내용"></textarea>
    </div>
    <br>
    
</form>
<!-- <a href="{% url 'new' %}">글쓰기</a> -->

{% for board in boards.all%}
<div>
    <h1><a href="{% url 'board:detail' board.id %}">{{board.title}}</a></h1>
    <!-- <h1>{{board.title}}</h1> -->
    <p>| {{board.writer}} | {{board.created_at}} |</p>
    <p>{{board.body}}</p>
    
    
</div>
{%endfor%}