<h1>제목 : {{board.title}}</h1>
<p>작성자 : {{board.writer}}</p>
<p>작성 시간 : {{board.created_at}}</p>
<p>내용 : {{board.body}}</p>

<a href="{% url 'board:board' %}">홈으로</a>
<a href="{% url 'board:edit' board.id %}">수정</a>
<a href="{% url 'board:delete' board.id %}">삭제</a>

<hr>

    <form method="POST" action="{% url 'board:newreply' board.id %}">

    {% csrf_token %}
    <input type="hidden" value="{{board.id}}" name="board">
    <h3>댓글<br></h3>
    <!-- /UserID: <input type="text" name="comment_user"></input><br> -->
    <input type="text" name="comment_body"></input>
    <button type="submit" class="btn btn-secondary">작성</button>
</form>
 
{% for comment in board.comments.all %}
    <p>
        <span>
            {{comment.comment_user}}
        </span> : {{ comment.comment_body }}  ({{comment.created_at}})
        <a href="{% url 'board:comment_delete' board.id comment.id %}">삭제</a>
    </p> 
{% endfor %}



<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->


<!--삭제 및 댓글 수정 기능 추가, 사용자 인증단계.. -->