<h1>제목 : {{board.title}}</h1>
<p>작성 시간 : {{board.created_at}}</p>
<p>내용 : {{board.body}}</p>

<a href="{% url 'board' %}">홈으로</a>
<a href="{% url 'edit' board.id %}">수정</a>
<a href="{% url 'delete' board.id %}">삭제</a>

<hr>
<form method="POST" action="{% url 'newreply' %}">
    {% csrf_token %}
    <input type="hidden" value="{{board.id}}" name="board">
    댓글 작성 :<br>
    UserID: <input type="text" name="comment_user"></input><br>
    내용: <input type="text" name="comment_body"></input>
    <button type="submit" class="btn btn-secondary">작성</button>
</form>
 
{% for comment in board.comments.all %}
    <p>
        <span>
            {{comment.comment_user}}
        </span> : {{ comment.comment_body }}
        <a href="{% url 'comment_delete' board.id comment.id %}">삭제</a>
    </p> 
    

{% endfor %}

