<form action="{% url 'gallery:proc' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="proc" value="new">
    <input type="file" name="imgs" multiple>
    <br>
    <div class="form-group">
        <label for="title">내용</label><br>
        <input type="text" name="title" id="title">
        <label for="content">내용</label><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="글쓰기">
</form>